[Desktop Entry]
Name=QtWebkitKiosk
Comment=Simple browser with kiosk mode
Exec=qt-webkit-kiosk
Categories=Network;WebBrowser;
Icon=qt-webkit-kiosk
Type=Application
Terminal=false
StartupNotify=true
